<%- include('./partials/header')-%>
<%- include('./partials/navbar-admin')-%>

<div class="content-admin-home">
    <canvas id="myChart" style="max-width: 500px;"></canvas>
</div>

<%- include('./partials/footer')-%>